* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-container {
  position: relative;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.background {
  background-image: url('/background.jpg'); /* Add a background image */
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.character {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-color: #ffcc00;
  padding: 10px;
  border-radius: 8px;
  width: 200px;
}

.character p {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.bins {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  width: 100%;
  margin-bottom: 50px;
}

.bin {
  width: 100px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.item {
  width: 100px;
  height: 100px;
  background-color: #ff6666;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.item img {
  width: 80%;
  height: 80%;
}

.score {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

.character img {
  width: 80%;
  height: 80%;
  pointer-events: none;
}

* {
  user-select: none;
}